<input type="text" ng-model="nameFilter" placeholder="Search..."/>  
  <p>Season:
  <select ng-model="selectedYear" ng-options="year for year in years" ng-change="changeYear(selectedYear)">
    <option value="">Select a Year</option>
  </select>
    <button ng-click="getDrivers(selectedYear)">Update</button></p>
  <table>
    <thead>
      <tr><th colspan="4">Drivers Championship Standings</th></tr>
    </thead>
    <tbody>
      <tr ng-repeat="driver in driversList | filter:searchFilter">
        <td>{{$index + 1}}</td>
        <td>
          <img ng-src="img/flags/{{driver.Driver.nationality}}.png" />
          <a href="#/drivers/{{driver.Driver.driverId}}/year/{{year}}">
          {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
        </a>
        </td>
        <td>{{driver.Constructors[0].name}}</td>
        <td>{{driver.points}}</td>
      </tr>
    </tbody>
  </table>